page-city {
  ion-list {
    ion-icon {
      font-size: 1.5em;
      padding-right: 4px;
    }
    .button-small-md {
      width: 2.1em;
    }
    ion-item:active {
      background-color: #F4F4F4;
    }
    .animate-circle {
      animation: rotate 600ms infinite linear;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
}
