<ion-header>
  <ion-navbar color="lightblue">
    <ion-searchbar placeholder="输入城市名查询"
      (ionInput)="search($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let city of filter">
      <ion-item-divider color="light">{{city.province}}</ion-item-divider>
      <ion-item *ngFor="let district of city.district" (click)="addToMyCitys(district,city.province)">
        {{district}}
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
