page-home {
  ion-header {
    ion-navbar {
      button[ion-button] {
        color: #ffffff;
        font-size: 1.8rem;
        ion-icon {
          font-size: 1.5rem;
          padding-right: 4px;
        }
      }
    }
  }

  .content  {
    background-color: #3BA4D4;
    color: #ffffff;
    ion-grid {
      .mid {
        margin-top: 50px;
        text-align: center;
        height: 200px;
        ion-col[col-7] {
          line-height: 200px;
        }
        ion-col[col-5] {
          display: flex;
          justify-content: center;
          align-items: center;
          .mid-right {
            div {
              margin-bottom: 10px;
            }
            .temperature {
              span:first-child {
                font-size: 6rem;
              }
              span:last-child {
                vertical-align: top;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      .airCondition {
        text-align: center;
        padding-bottom: 30px;
        span {
          display: inline-block;
          text-indent: 3px;
        }
      }
      .index {
        text-align: center;
        padding: 10px 0;
        div {
          margin-top: 5px;
        }
      }
    }
    .future {
      background-color: transparent;
      ion-item {
        display: flex;
        font-size: 14px;
        padding-right: 16px;
        background-color: transparent;
        color: #ffffff;
        ion-label {
          display: flex;
          .data {
            flex: 100px 0 0;
            text-align: left;
          }
          .day-time {
            flex: 1;
            text-align: center;
          }
          .temperature {
            flex: 0 0 100px;
            text-align: right;
          }
        }
      }
    }
  }
}


