// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@mixin border($position) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    #{$position}: 1px solid #ffffff;
    width: 200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
    box-sizing: border-box;
  }
}

.border-t-1px {
  @include border(border-top)
}

.border-r-1px {
  @include border(border-right)
}

.border-b-1px {
  @include border(border-bottom)
}

.border-l-1px {
  @include border(border-left)
}
